%% -*- mode: erlang; tab-width: 4; indent-tabs-mode: 1; st-rulers: [70] -*-
%% vim: ts=4 sw=4 ft=erlang noet

{erl_opts, [
	debug_info,
	warnings_as_errors
]}.

{deps, [
    {libp2p, "0.5.0"},
    {enacl, "1.0.7"},
    {soda, "1.1.1"},
    {libsodium, "2.0.0"}
]}.

{pre_hooks, [
	{"(linux|darwin|solaris)", compile, "make -j -C c_src"},
	{"(freebsd)", compile, "gmake -j -C c_src"}
]}.

{post_hooks, [
	{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
	{"(freebsd)", clean, "gmake -C c_src clean"}
]}.

{shell, [
    % Add dependencies to the shell
    {apps, [libp2p]}
]}.

{profiles, [
    {test, [{deps, [{mock, ".*", {git, "https://github.com/jjh42/mock", {branch, "master"}}}]}]}
]}.

{hex, [{doc, ex_doc}]}.
